<div class="flex">
  <div class="text-neutral-500 mr-4 text-right">
    <% (1..sample_file.contents.lines.count).each do |l| %>
      <%= l %><br>
    <% end %>
  </div>

  <div class="overflow-x-scroll" data-controller="highlight">
    <pre><%= sample_file.contents %></pre>
  </div>
</div>
