<% set_meta_tags title: "New Sample" %>

<% content_for(:header) do %>
  <%= render HeaderComponent.new do |c| %>
    <% c.with_title.with_content("New Sample") %>
  <% end %>
<% end %>

<div class="max-w-5xl">
  <%= render "form", sample: @sample %>
</div>
