<div class="bg-[#EF4444] flex justify-center">
  <div class="max-w-7xl px-4 py-4 flex flex-1 flex-col">
    <% if parent? || actions? %>
      <div class="flex flex-row justify-between items-center mb-1">
        <div class="text-[#950000] underline">
          <%= parent %>
        </div>

        <div class="flex space-x-2">
          <%= actions %>
        </div>
      </div>
    <% end %>

    <div class="flex flex-col md:flex-row md:justify-between md:items-baseline md:space-x-6">
      <h1 class="flex items-center text-xl font-normal leading-normal text-white">
        <%= title %>
      </h1>

      <div class="text-white text-sm md:text-right">
        <%= details %>
      </div>
    </div>
  </div>
</div>
