<% set_meta_tags title: @user.username %>

<% content_for(:header) do %>
  <div>
    <div class="mb-1">
      <%= link_to "Users", [:users], class: "block text-[#950000] underline" %>
    </div>

    <div class="flex items-center space-x-1">
      <div>
        <%= image_tag user_avatar(@user), class: "h-12 w-12 bg-white border-2 border-white rounded-full" %>
      </div>

      <h1 class="text-xl font-normal leading-normal text-white">
        @<%= @user.username %>
      </h1>
    </div>
  </div>

  <div class="flex flex-col items-end">
    <div class="mb-1">
    </div>
  </div>
<% end %>

<div class="grid grid-cols-3 gap-6">
  <%= render @samples %>
</div>
