<% set_meta_tags reverse: false, title: "Curated code samples from Ruby on Rails projects", description: "RailsInspire is a curated collection of code samples from Ruby on Rails projects." %>

<% content_for(:header) do %>
  <h1 class="text-xl font-normal leading-normal text-white">
    A curated collection of code samples from Ruby on Rails projects.
  </h1>
<% end %>

<p>Hello there.</p>
