<% content_for(:header) do %>
  <h1 class="text-xl font-normal leading-normal text-white">
    A curated collection of code samples from Ruby on Rails projects.
  </h1>
<% end %>

<p>Hello there.</p>
