<% set_meta_tags reverse: false, title: "Curated code samples from Ruby on Rails projects", description: "RailsInspire is a curated collection of code samples from Ruby on Rails projects." %>

<% content_for(:header) do %>
  <%= render HeaderComponent.new do |c| %>
    <% c.with_title.with_content("A curated collection of code samples from Ruby on Rails projects.") %>
  <% end %>
<% end %>

<p>Hello there.</p>
