<%= link_to category_path(category.slug), class: "bg-white rounded shadow-sm px-4 py-3" do %>
  <div class="flex-col justify-between">
    <div class="mb-4 text-[#950000] underline">
      <%= category.name %>
    </div>

    <div class="mb-4 text-sm text-neutral-700 h-10 line-clamp-2">
      <%= category.description %>
    </div>

    <div class="text-xs text-neutral-500">
      <%= category.samples.status_public.size %> samples
    </div>
  </div>
<% end %>
