<% set_meta_tags title: "Edit Category" %>

<% content_for(:header) do %>
  <%= render HeaderComponent.new do |c| %>
    <% c.with_title.with_content("Edit Category") %>
  <% end %>
<% end %>

<div class="max-w-5xl">
  <%= render "form", category: @category %>
</div>
