<% set_meta_tags title: "Edit Category" %>

<% content_for(:header) do %>
  <div>
    <h1 class="text-xl font-normal leading-normal text-white">
      Edit Category
    </h1>
  </div>
<% end %>

<div class="max-w-5xl">
  <%= render "form", category: @category %>
</div>
