<% set_meta_tags title: "Categories" %>

<% content_for(:header) do %>
  <div>
    <h1 class="text-xl font-normal leading-normal text-white">
      Categories
    </h1>
  </div>

  <div class="flex flex-col items-end">
    <div class="mb-1">
      <% if policy(Category).new? %>
        <%= link_to "New", [:new, :category], class: "px-2 py-1 bg-[#950000] text-white text-sm rounded" %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="grid grid-cols-3 gap-6">
  <%= render @categories %>
</div>
