<% set_meta_tags title: "Categories" %>

<% content_for(:header) do %>
  <%= render HeaderComponent.new do |c| %>
    <% c.with_title.with_content("Categories") %>

    <% c.with_details do %>
      <% if policy(Category).new? %>
        <%= link_to "New", [:new, :category], class: "px-2 py-1 bg-[#950000] text-white text-sm rounded" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  <%= render @categories %>
</div>
