<% content_for(:header) do %>
  <h1 class="text-xl font-normal leading-normal text-white">
    <%= @category.name %>
  </h1>

  <%= @category.description %>
<% end %>

<%= render @category.samples %>
