<nav class="bg-[#950000] flex justify-center">
  <div class="max-w-7xl px-4 py-4 flex flex-1 justify-between items-center">
    <a href="" class="text-2xl font-semibold">
      <span class="text-red-500">Rails</span><span class="text-white">Inspire</span>
    </a>

    <div class="space-x-8">
      <a href="" class="text-white">Categories</a>
      <a href="" class="text-white">Libraries</a>
      <a href="" class="text-white">About </a>
    </div>
  </div>
</nav>
